# LitVM Testnet RPC for reading the OrdinalReassemblerV2 contract
VITE_LITVM_RPC_URL=https://liteforge.rpc.caldera.xyz/http

# Deployed OrdinalReassemblerV2 address on LitVM testnet
VITE_CONTRACT_ADDRESS=0x5F794363553884E9AeaD019Fb436C7a2c1634578
